@if (tooltip(); as info) {
  <div class="track-tooltip">
    <div class="track-tooltip-time">
      {{ info.relativeTimeSec | flightDuration }}
    </div>

    <div class="track-tooltip-row">
      <span class="track-tooltip-label">Altitude</span>
      <strong class="track-tooltip-value">
        {{ info.altitudeM | flightNumber: 0 }}
      </strong>
      <span class="track-tooltip-unit">m</span>
    </div>

    <div class="track-tooltip-row">
      <span class="track-tooltip-label">Vario</span>
      <strong class="track-tooltip-value">
        {{ info.varioMs | flightSignedNumber: 1 }}
      </strong>
      <span class="track-tooltip-unit">m/s</span>
    </div>

    <div class="track-tooltip-row">
      <span class="track-tooltip-label">Speed</span>
      <strong class="track-tooltip-value">
        {{ info.speedKmh | flightNumber: 0 }}
      </strong>
      <span class="track-tooltip-unit">km/h</span>
    </div>

    <div class="track-tooltip-row muted">
      <span class="track-tooltip-label">Index</span>
      <strong class="track-tooltip-value">
        {{ info.index }}
      </strong>
      <span class="track-tooltip-unit"></span>
    </div>
  </div>
}